@import "tailwindcss";

.container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.yellow-theme-color {
  color: #d4af37;
}

.yellow-theme-bg {
  background-color: #d4af37;
}

.yellow-theme-bg:hover {
  background-color: #b8941f;
}

.heading-serif {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}

@media (min-width: 768px) {
  .heading-serif {
    font-size: 36px;
    line-height: 40px;
  }
}

.footer-text {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
}
